 @import url("https://fonts.googleapis.com/css?family=Varela+Round");

 .teacher-input-form input[type="text"] {
   margin: 5px 0 10px 0;
 }

 .teacher-input-form {
   display: flex;
   justify-content: center;
 }

 .menu {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 720px;
   margin: 0 auto;
   height: 75px;
   list-style: none;
 }

 .menu li {
   width: 125px;
   height: 50px;
   transition: background-position-x 0.9s linear;
   text-align: center;

   a {
     font-size: 22px;
     color: #777;
     text-decoration: none;
     transition: all 0.6s;
   }

   &:hover {
     background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
     animation: line 1.5s;
   }

   &:hover a {
     color: #d94f5c;
   }

   &:not(:last-child) {
     margin-right: 30px;
   }
 }

 @keyframes line {
   0% {
     background-position-x: 390px;
   }
 }

 .toggle-head {
   padding: 10px;
   width: 400px;
   margin: 10px auto;
 }

 .toggle-button {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #D3D4DA;
   color: black;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 20px;
   font-weight: 600;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   padding: 10px;
   width: 100%;
   transition: background-color 0.5s ease;
 }

 .grade-button {
   margin-bottom: 5px;
   color: #f5f6ff !important;
   background: #1d49aa !important;
 }

 .grade-button:hover {
   background: blue !important;
 }

 .grade-button:focus {
   outline: none !important;
   box-shadow: 0 0 0 4px #cbd6ee !important;
 }

 .close-button {
   background: #858585 !important;
 }

 .close-button:hover {
   background: #ec5353 !important;
 }

 .toggle-button:hover {
   background-color: #0051a8;
 }

 .toggle-button .arrow {
   margin-left: 10px;
   font-size: 20px;
   transition: transform 0.5s ease;
 }

 .expanded .arrow {
   transform: rotate(180deg) !important;
 }

 .toggle-button:hover {
   background-color: #0056b3;
 }

 .student-info-toggle {
   padding: 0px !important;
   transition: all 0.5s ease-out;
   max-height: 0 !important;
   border: none !important;
 }

 .student-info {
   overflow: hidden;
   padding: 15px;
   border-radius: 8px;
   border: 1px solid #ddd;
   background-color: #D3D4DA;
   transition: all 0.5s ease-out;
   max-height: 700px;
 }

 #toggle-text {
   font-size: 20px;
   font-weight: 600;
 }

 .student-field {
   padding-left: 10px;
   margin-bottom: 10px;
   font-size: 19px;
   color: #444;
   font-weight: 450;
 }

 .student-field strong {
   font-weight: bold;
   color: #000;
 }

 .popup-background {
   display: none;
   overflow-x:hidden;
   overflow-y:auto;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   align-items: center;
   justify-content: center;
 }

 .grade-form-container {
   background: #1c1d22;
   padding: 24px;
   border-radius: 12px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   width: 400px;
   text-align: center;
 }

 .grade-form-container input {
   align: center;
   width: 90%;
 }

 .text-field__label {
   font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 550;
   color: #f5f6ff;
   display: block;
   margin-bottom: 0.5rem;
   text-align: center;
 }

 .center-buttons {
   display: flex;
   justify-content: center;
 }


 .text-field__input {
   width: 23%;
   min-width: 200px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   height: calc(2.25rem + 2px);
   padding: 0.375rem 0.75rem;
   font-family: inherit;
   font-size: 1.25rem;
   font-weight: 500;
   line-height: 1.5;
   color: rgba(202, 205, 239, 0.8);
   background-color: rgba(57, 63, 84, 0.8);
   background-clip: padding-box;
   border: 1px solid #bdbdbd;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

 .text-field__input::placeholder {
   color: #7881AF;
   opacity: 0.4;
 }

 .text-field__input:focus {
   color: rgba(202, 205, 239, 0.8);
   background-color: rgba(57, 63, 84, 0.8);
   border-color: #bdbdbd;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
 }

 .text-field {
   margin-bottom: 1rem;
 }

 .c-button {
   width: 10%;
   min-width: 125px;
   font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 550;
   color: #f5f6ff;
   appearance: none;
   border: 0;
   margin: 5px;
   border-radius: 5px;
   background: #1d49aa;
   padding: 8px 16px;
   cursor: pointer;
 }


 .c-button:hover {
   background: blue;
 }

 .c-button:focus {
   outline: none;
   box-shadow: 0 0 0 4px #cbd6ee;
 }

 #output {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #output-class {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .rectangle {
   width: 30%;
   counter-reset: li;
   list-style: none;
   font: 18px "Varela Round", sans-serif;
   padding: 0;
   text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
 }

 .rectangle a {
   position: relative;
   display: block;
   padding: .4em .4em .4em .8em;
   margin: .5em 0 .5em 2.5em;
   background: #D3D4DA;
   color: #444;
   text-decoration: none;
   transition: all .3s ease-out;
 }

 .rectangle a:hover {
   background: #DCDDE1;
 }

 .rectangle a:before {
   content: counter(li);
   counter-increment: li;
   position: absolute;
   left: -2.5em;
   top: 50%;
   margin-top: -1em;
   background: #9097A2;
   height: 2em;
   width: 2em;
   line-height: 2em;
   text-align: center;
   font-weight: bold;
 }

 .rectangle a:after {
   position: absolute;
   content: "";
   border: .5em solid transparent;
   left: -1em;
   top: 50%;
   margin-top: -.5em;
   transition: all .3s ease-out;
 }

 .rectangle a:hover:after {
   left: -.5em;
   border-left-color: #9097A2;
 }

 .insert-button {
   margin-top: 10px;
 }

 body {
   margin: 0;
   width:100%;
 }

 body,
 html {
   width: 100%;
   height: 100%;
   background: #1c1d22;
   color: #fff;
 }

 body.body-center {
   font-family: Arial, sans-serif;
   background-color: #1c1d22;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
 }

 form.login-form {
   background-color: #1c1d22;
   padding: 40px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 450px;
   box-sizing: border-box;
 }

 h2.form-title {
   font-color: red;
   text-align: center;
   margin-bottom: 20px;
 }

 label.form-label {
   font-weight: bold;
   margin-bottom: 5px;
   display: block;
 }

 input.form-input,
 select.form-select {
   font-size: 25px;
   width: 100%;
   padding: 12px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }

 button.form-button {
   width: 100%;
   padding: 10px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }

 button.form-button:hover {
   background-color: #45a049;
 }

 ul.message-list {
   list-style-type: none;
   padding: 0;
   margin-top: 10px;
 }

 li.message-item {
   background-color: #f8d7da;
   color: #721c24;
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 5px;
   border: 1px solid #f5c6cb;
 }

 .table-error {
   width: auto;
   max-width: 400px;
   min-width: 300px;
   border-collapse: collapse;
 }

 .table-error th {
   background-color: #f8d7da;
   color: #721c24;
   padding: 10px;
   text-align: left;
   border-bottom: 2px solid #f5c6cb;
 }



 .table-error td {
   padding: 10px;
   border-bottom: 1px solid #f1f1f1;
 }

 .table-error .error-message {
   color: #721c24;
   background-color: #f8d7da;
 }

 .table-error tr:nth-child(even) td {
   background-color: #f9f9f9;
 }

 .hide-table {
   opacity: 0 !important;
   transition: opacity 1s ease;
 }


 table {
   opacity: 1;
   transition: opacity 1s ease;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 14px;
   border-radius: 10px;
   border-spacing: 0;
   text-align: center;
   width: auto;
   min-width: 30%;
   max-width: 1000px;
   margin: 15px;
   transform: translateY(0%);
   animation: ani 1s forwards;
 }

 @keyframes ani {
   0% {
     transform: translateY(20%);
   }

   100% {
     transform: translateY(0);
   }
 }

 th {
   background: #4676d7;
   color: white;
   text-shadow: 0 1px 1px #2D2020;
   padding: 10px 20px;
 }

 th,
 td {
   border-style: solid;
   border-width: 0 1px 1px 0;
   border-color: white;
 }

 th:first-child,
 td:first-child {
   text-align: left;
 }

 th:first-child {
   border-top-left-radius: 10px;
 }

 th:last-child {
   border-top-right-radius: 10px;
   border-right: none;
 }

 td {
   padding: 5px 10px;
   background: #808080;
 }

 tr:last-child td:first-child {
   border-radius: 0 0 0 10px;
 }

 tr:last-child td:last-child {
   border-radius: 0 0 10px 0;
 }

 tr td:last-child {
   border-right: none;
 }