<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/style.css" rel="stylesheet">
    <title>School</title>
</head>
<body>
    <div style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <h1>Выберите роль</h1>
        <form action="/student.html">
        <button class="roles">Ученик</button><br>
        </form>
        <form action="/teacher">
        <button class="roles">Учитель</button><br>
        </form>
        <button class="roles">Администрация</button>
    </div>
</body>
</html>