<!DOCTYPE html>
<html lang="en">
<head>
    <title>School</title>
</head>
<style>
    .roles {
        width: 20%;
        height: 40px;
        margin-top: 5px;
        font-weight: 550;
        font-size: 20px;
    }
</style>

<body>
    <div style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <h1>Выберите роль</h1>
        <form action="/student">
        <button class="roles">Ученик</button><br>
        </form>
        <form action="/teacher">
        <button class="roles">Учитель</button><br>
        </form>
        <button class="roles">Администрация</button>
    </div>
    
</body>
</html>