<nav>
  <ul class="menu">
    {% if current_user.is_authenticated and context!=('/profile/'+current_user.user_type)%}
      <li><a href="profile/{%print(current_user.user_type)%}">{% print(current_user.login) %}</a></li>
    {% endif %}
    {% if current_user.is_authenticated %}
      <li><a href="/logout">Logout</a></li>
    {% endif %}
    {% if not current_user.is_authenticated%}
      <li><a href="/login">Login</a></li>
    {% endif %}
    {% if context != '/' %}
    <li><a href="/">Home</a></li>
    {% endif %}
    {% if context != '/student' and current_user.is_authenticated and current_user.user_type in ['staff', 'teacher'] %}
    <li><a href="/student">Students</a></li>
    {% endif %}
    {% if context !='/teacher' and current_user.is_authenticated and current_user.user_type == 'staff' %}
    <li><a href="/teacher">Teachers</a></li>
    {% endif %}
    {% if current_user.user_type=='staff' and context!='/staff' %}
    <li><a href="#!">Staff</a></li>
     {% endif %}
  </ul>
</nav>