<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
     <input type="text" id="name" name="Teacher_name">
     <input type="text" id="lastName" name="Teacher_lastName">
     <input type="text" id="middleName" name="Teacher_middleName">
     <button onclick="sendData()">Send Data</button>

   <div id="output"></div>
    <script src="../static/js/script.js"></script>
</body>
</html>