<p>Дорогой {{ user }},</p>

<p>Мы рады сообщить вам, что вы успешно зачислены в нашу школу! Добро пожаловать в сообщество SchoolAxewood.</p>

<p>Для доступа к нашей системе, пожалуйста, используйте следующие данные:</p>
<ul>
  <li><strong>Логин:</strong> {{login}}</li>
  <li><strong>Пароль:</strong> {{password}}</li>
</ul>

<p>Если у вас возникнут вопросы или потребуется дополнительная информация, не стесняйтесь обращаться к нам.</p>

<p>С наилучшими пожеланиями,</p>
<p><em>Команда SchoolAxewood</em></p>